<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="zhaopin">
            <h2><span jhiTranslate="zpApp.zhaopin.detail.title">Zhaopin</span> {{zhaopin.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="zpApp.zhaopin.zwmc">Zwmc</span></dt>
                <dd>
                    <span>
                        <a href="{{zhaopin.href}}">{{zhaopin.zwmc}}</a>
                    </span>
                </dd>
                <dt><span jhiTranslate="zpApp.zhaopin.gsmc">Gsmc</span></dt>
                <dd>
                    <span>{{zhaopin.gsmc}}</span>
                </dd>
                <dt><span jhiTranslate="zpApp.zhaopin.gzdd">Gzdd</span></dt>
                <dd>
                    <span>{{zhaopin.gzdd}}</span>
                </dd>
                <dt><span jhiTranslate="zpApp.zhaopin.xzLow">Xz Low</span></dt>
                <dd>
                    <span>{{zhaopin.xzLow}}</span>
                </dd>
                <dt><span jhiTranslate="zpApp.zhaopin.xzHeight">Xz Height</span></dt>
                <dd>
                    <span>{{zhaopin.xzHeight}}</span>
                </dd>
                <dt><span jhiTranslate="zpApp.zhaopin.ptime">Ptime</span></dt>
                <dd>
                    <span>{{zhaopin.ptime}}</span>
                </dd>
                <dt><span jhiTranslate="zpApp.zhaopin.href">Href</span></dt>
                <dd>
                    <span>{{zhaopin.href}}</span>
                </dd>
                <dt><span jhiTranslate="zpApp.zhaopin.cluster">Cluster</span></dt>
                <dd>
                    <span>{{zhaopin.cluster}}</span>
                </dd>
            </dl>

            <div class="table-responsive" *ngIf="zhaopins">
                <table class="table table-striped">
                    <thead>
                    <tr >
                        <th ><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th ><span jhiTranslate="zpApp.zhaopin.zwmc">Zwmc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th ><span jhiTranslate="zpApp.zhaopin.gsmc">Gsmc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th ><span jhiTranslate="zpApp.zhaopin.gzdd">Gzdd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th ><span jhiTranslate="zpApp.zhaopin.xzLow">Xz Low</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th ><span jhiTranslate="zpApp.zhaopin.xzHeight">Xz Height</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th ><span jhiTranslate="zpApp.zhaopin.ptime">Ptime</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--                        <th ><span jhiTranslate="zpApp.zhaopin.href">Href</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
                        <th ><span jhiTranslate="zpApp.zhaopin.cluster">Cluster</span> <fa-icon [icon]="'sort'"></fa-icon></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of zhaopins ;trackBy: trackId">
                        <td><a [routerLink]="['/zhaopin', item.id, 'view' ]">{{item.id}}</a></td>
                        <td><a href="{{item.href}}">{{item.zwmc}}</a></td>
                        <td>{{item.gsmc}}</td>
                        <td>{{item.gzdd}}</td>
                        <td>{{item.xzLow}}</td>
                        <td>{{item.xzHeight}}</td>
                        <td>{{item.ptime | date:'medium'}}</td>
<!--                        <td>{{item.href}}</td>-->
                        <td>{{item.cluster}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/zhaopin', item.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/zhaopin', zhaopin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
