<div>
    <h2 id="page-heading">
        <span >职位列表</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zhaopin" [routerLink]="['/zhaopin/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="zpApp.zhaopin.home.createLabel">
            Create new Zhaopin
            </span>
        </button>

        <button  class="btn btn-primary float-right jh-create-entity"  style="margin-left: 50px;margin-right: 50px" (click)="refresh()" >
            <fa-icon [icon]="'sync'"></fa-icon>
            重新爬取数据并执行聚类算法
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <input  [(ngModel)]="words"   [ngModelOptions]="{standalone: true}" name="words" type="text">
    <button class="btn btn-primary btn-sm" (click)="loadAll()" >搜索</button>
    <div class="table-responsive" *ngIf="zhaopins">

        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="zwmc"><span jhiTranslate="zpApp.zhaopin.zwmc">Zwmc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gsmc"><span jhiTranslate="zpApp.zhaopin.gsmc">Gsmc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gzdd"><span jhiTranslate="zpApp.zhaopin.gzdd">Gzdd</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="xzLow"><span jhiTranslate="zpApp.zhaopin.xzLow">Xz Low</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="xzHeight"><span jhiTranslate="zpApp.zhaopin.xzHeight">Xz Height</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ptime"><span jhiTranslate="zpApp.zhaopin.ptime">Ptime</span> <fa-icon [icon]="'sort'"></fa-icon></th>
<!--            <th jhiSortBy="href"><span jhiTranslate="zpApp.zhaopin.href">Href</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="cluster"><span jhiTranslate="zpApp.zhaopin.cluster">Cluster</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zhaopin of zhaopins ;trackBy: trackId">
                <td><a [routerLink]="['/zhaopin', zhaopin.id, 'view' ]">{{zhaopin.id}}</a></td>
                <td><a href="{{zhaopin.href}}" target="_blank" >{{zhaopin.zwmc}}</a></td>
                <td>{{zhaopin.gsmc}}</td>
                <td>{{zhaopin.gzdd}}</td>
                <td>{{zhaopin.xzLow}}</td>
                <td>{{zhaopin.xzHeight}}</td>
                <td>{{zhaopin.ptime | date:'medium'}}</td>
<!--                <td>{{zhaopin.href}}</td>-->
                <td>{{zhaopin.cluster}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/zhaopin', zhaopin.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zhaopin', zhaopin.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'zhaopin', { outlets: { popup: zhaopin.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="zhaopins && zhaopins.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
